<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../styles/main.css">
	</head>
	<!-- <body class="bg-gray-100 min-h-screen items-center justify-center flex antialiased text-gray-900"> -->
		<div class='flex-row bg-gray-100 pt-3 rounded-lg hover:shadow-2xl cursor-pointer' style="width: 250px;">
			<div class="rounded-lg container mx-auto" style="height: 300px; width: 144px; background-size: contain; background-image: url('../../../public/iPhoneXWireframe.png');">
				<!-- <img class='hover rounded shadow-xl h-auto' src="../../../public/iPhoneXWireframe.png"> -->
				<img class='hover rounded shadow-xl h-full mx-auto' src="../../../public/newsScreenshot.png">					
			</div>
			<div class="bg-white rounded-lg p-4 shadow-lg -mt-24 relative mx-auto" style="height: 150px; width: 250px">
				<h2 class='text-base font-bold truncate'>How do we handle a big title like this or even this</h2>
				<div class='-mt-1 text-xs uppercase text-gray-500 font-semibold '>
					21/02/2020 10:30PM EST
				</div>
				<p class='mt-1 text-xs leading-tight'>
					The screen has the wrong alignment on image x. It is the first time we have this ...
				</p>
			</div>
		</div>
		

		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		
		<script src="" async defer></script>
	<!-- </body> -->
</html>